.container{
    position: relative;
    text-align: center;
    color: white;
}

.hdimg{
    display: flex;
    justify-content: center;
    
}
.logo{
    position: absolute;
    margin-top: 75px;
    left: 90px;
    font-size: 3rem;
}
.artist{
    color: black;
    font-size: large;
    background-color: bisque;
    height: 65px;
    width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 2rem;
    padding: 25px;
}
.artimgbx{
    background-color: bisque;
    height: 300px;
    width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: black;
}
.rows {
    display: flex;
    align-items: center;
}
.container2{
    background-color: tan;
    padding: 25px;
    width: 1200px;
}